body {
    background: rgb(0,0,0);
    background: linear-gradient(174deg, rgba(0,0,0,1) 0%, rgba(65,65,70,1) 50%, rgba(255,255,255,1) 100%);    
    font-family: 'Nunito Sans', sans-serif !important;
}

h2 {
    color: white;
}

p {
    color: white;
    margin-left: 1em;
}

.navbarItems a{
    color: white;
}

.cardS p {
    color: black;
    font-size: 0.8em;
}

.navbarFlex{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.navbarList {
    margin-left: 2em;
}

.navbarList li :hover{
    background-color: #696868;
}

.cardS{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin: 1em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.carouselMain{
    display: flex;

}

h2 {
    margin: 0.5em;
}

footer p{
    color: black;
}
.seccionProductos {
    margin-bottom: 2em;
}

.seccionServicios {
    margin-bottom: 2em;
}

.seccionNosotros{
    margin-top: 2em;
    margin-bottom: 2em;
}

.carouselProductos{
    margin: 2em;
}

.carouselGaleria{
    margin: 2em;
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em
}

.shoppingKart{
    display: flex;
    padding-right: 1em;
}

.addToKart{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-right: 0.5em;   
}

.kart-del-btn{
    margin-left: 1em !important;
}

.payButton{
    text-decoration: none;
    color: white;
}